.progress-spinner {
  display: inline-block;
  position: relative;
  height: auto;
  overflow: visible;

  circle {
    transition: 0.3s stroke-dashoffset;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    stroke: currentColor;
    stroke-width: inherit;
    fill: none;

    &.spin {
      @keyframes spin {
        0% { transform: rotate(-90deg); }
        100% { transform: rotate(270deg); }
      }

      animation: spin 2s linear infinite normal forwards;
    }

    &.paused {
      animation-play-state: paused;
    }
  }
}

.progress-spinner-sm {
  width: 1em;
  stroke-width: 2px;
}

.progress-spinner-md {
  width: 2em;
  stroke-width: 4px;
}

.progress-spinner-lg {
  width: 3em;
  stroke-width: 6px;
}

.progress-spinner-xl {
  width: 4em;
  stroke-width: 8px;
}

.progress-spinner-thin {
  stroke-width: 1px;
}
