.progress-spinner {
  display: inline-block;
  position: relative;
  height: auto;

  svg {
    overflow: visible;
  }

  circle {
    transition: 0.3s stroke-dashoffset;
    transform-origin: center center;
    transform: rotate(-90deg);
    stroke: currentColor;
    fill: none;

    &.spin {
      @keyframes spin {
        0% { transform: rotate(-90deg); }
        100% { transform: rotate(270deg); }
      }

      animation: spin 2s linear infinite normal forwards;
    }

    &:not(.spin) {
      transform: rotate(-90deg);
    }

    &.paused {
      animation-play-state: paused;
    }
  }
}

.progress-spinner-sm {
  width: 1rem;
}

.progress-spinner-md {
  width: 2rem;
}

.progress-spinner-lg {
  width: 3rem;
}

.progress-spinner-xl {
  width: 4rem;
}
