@import "./progress-spinner.scss";

.App {
  padding: 0 20px;
}

.spinner-container {
  display: inline-block;
  // border: 1px solid red;

  .progress-text {
    display: inline-block;
    text-align: center;
    // border: 1px solid blue;
  }
}

.spinner-container-lg, .spinner-container-xl {
  position: relative;

  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.spinner-container-md, .spinner-container-sm {

  .progress-text {
    vertical-align: middle;

    &:before {
      content: ' ';
      white-space: pre;
    }
  }
}